
#title {
    background-color:#e3feae;
    color:#000000;
    }
  body{
      font-family: 'Montserrat', sans-serif;
    }
   
  h3{
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    }
  h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
  }
  
  hr{
    border: 10px solid green;
  border-radius: 5px;
  }


  #abt{
    text-align: center;
    padding: 0% 15% 8% 15%;
  }
  
  #footer{
  background-color: #e3feae;
  color: black;
  padding: 6% 6%;
  text-align:center;
  
  }
